In [1]:
# -*- coding: utf-8 -*-
"""
Created on Fri May 15 16:39:32 2020

@author: erdem
"""

# pip install sparqlwrapper
# https://rdflib.github.io/sparqlwrapper/

import sys
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd
import json

endpoint_url = "https://query.wikidata.org/sparql"

query = """SELECT  ?businessLabel ?headquarters_locationLabel ?countryLabel ?employees WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?business wdt:P31 wd:Q4830453.
  OPTIONAL {  }
  OPTIONAL { ?business wdt:P159 ?headquarters_location. }
  OPTIONAL { ?business wdt:P17 ?country. }
  OPTIONAL { ?business wdt:P1128 ?employees. }
}
LIMIT 100"""


def get_results(endpoint_url, query):
    user_agent = "WDQS-example Python/%s.%s" % (sys.version_info[0], sys.version_info[1])
    # TODO adjust user agent; see https://w.wiki/CX6
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    return sparql.query().convert()


def get_sparql_dataframe(service, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    sparql = SPARQLWrapper(service)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']

    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

In [2]:
df = get_sparql_dataframe(endpoint_url, query)

In [3]:
df

,businessLabel,headquarters_locationLabel,countryLabel,employees
0,Bertone,Turin,Italy,1360
1,Bitter Automobile,Ennepetal,Germany,None
2,Borgward,Bremen,Germany,None
3,Bristol Cars,Filton,United Kingdom,None
4,Automobiles Ettore Bugatti,Molsheim,France,None
5,Buick,Detroit,United States of America,None
6,BYD Auto,Shenzhen,None,60000
7,Bethlehem Steel,Bethlehem,None,None
8,Dacia,Mioveni,None,12532
9,New Directions Publishing,New York City,United States of America,None
10,Daewoo Motors,Incheon,None,None
11,Daihatsu,Ōsaka,Japan,11873
12,Daihatsu,Ikeda,Japan,11873
13,Daimler AG,Stuttgart,Germany,282488
14,Daimler Company,Coventry,United Kingdom,None
15,Delage,Paris,France,None
16,Delage,Levallois-Perret,France,None
17,Duesenberg,Indianapolis,United States of America,None
18,AOL,New York City,United States of America,5600
19,Ferrari,Maranello,Italy,3815
20,Fiat,Turin,Italy,None
21,Fabryka Samochodów Ciężarowych,Lublin,None,None
22,Fabryka Samochodów Małolitrażowych,Bielsko-Biała,Poland,None
23,Fabryka Samochodów Osobowych,Warsaw,Poland,None
24,Mittal Steel Company,Rotterdam,Kingdom of the Netherlands,None
25,ArcelorMittal,Luxembourg,Luxembourg,None
26,cdv Software Entertainment,Munich,Germany,None
27,cdv Software Entertainment,Frankfurt am Main,Germany,None
28,Fabryka Samochodów Rolniczych,Poznań,Poland,None
29,GAZ,Nizhny Novgorod,Russia,None
...,...,...,...,...
70,Mercedes-Benz,Stuttgart,Germany,None
71,Mitsubishi Motors,Minato-ku,Japan,None
72,Moskvitch,Moscow,Russia,None
73,Yahoo,Sunnyvale,United States of America,None
74,IBM,Armonk,United States of America,350600
75,Starbucks,Seattle,United States of America,238000
76,IBM Global Services,Armonk,None,None
77,McDonald's,Chicago,United States of America,210000
78,Agnico-Eagle Mines,Toronto,Canada,None
79,PNC Financial Services,One PNC Plaza,United States of America,52906
80,China CITIC Bank,Beijing,People's Republic of China,None
81,Canonical Group Limited,London,None,550
82,Bank of Beijing,Beijing,People's Republic of China,None
83,Talvivaara Mining Company,Haukilahti,Finland,550
84,European Pressphoto Agency,Frankfurt am Main,Germany,None
85,Myspace,Beverly Hills,United States of America,200
86,Imperial Oil,Calgary,Canada,None
87,Oltcit,Craiova,Romania,None
88,Opel,Rüsselsheim am Main,Germany,None
89,Packard,Detroit,None,None
90,Pierce-Arrow,Buffalo,United States of America,None
91,Pininfarina,Cambiano,Italy,None
92,Porsche,Stuttgart,Germany,12722
93,Richard-Brasier,Paris,None,None
94,Rickenbacker,Santa Ana,United States of America,None
95,Sony,Minato-ku,Japan,128400
96,Islamic Development Bank,Jeddah,Saudi Arabia,932
97,Strömberg,None,Finland,None
98,Total E&P,Copenhagen,Denmark,None
99,OpenTable,San Francisco,United States of America,None